<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        {% block header %}
            <h1>Primer título de mi página web.</h1>
            <a href="./index.html">Noticias</a>
            <a href="./Clima.htm">Clima</a>
            <a href="./Anime.htm">Anime</a>
        {% endblock %}
    </header>
    <footer>
        {% block footer %}
            <p>
                Este es el footer. Acá pongo enlaces.
            </p>
            <span>Link 1</span> <a href="./Contacto.html">Contacto</a> 
        {% endblock %}
    </footer>
    
</body>
</html>